In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("pd_titanic_house.db") 

df1 = pd.read_csv("preprocessed_dataclassification.csv")
df2 = pd.read_csv("preprocessed_dataregression.csv")

df1.to_sql('pd_titanic', conn, if_exists='replace', index=False)
df2.to_sql('pd_house', conn, if_exists='replace', index=False)

result_1 = pd.read_sql_query("SELECT * FROM pd_titanic", conn)
display(result_1)

result_2 = pd.read_sql_query("SELECT * FROM pd_house", conn)
display(result_2)

conn.commit()
conn.close()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_11784\3331152501.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Fare,Sex_female,Sex_male,...,Cabin_F E69,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Cabin_Unknown
0,1,0,3,108,22.0,1,0,7.2500,0,1,...,0,0,0,0,0,0,0,0,0,1
1,2,1,1,190,38.0,1,0,71.2833,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,3,353,26.0,0,0,7.9250,1,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,1,272,35.0,1,0,53.1000,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,3,15,35.0,0,0,8.0500,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,548,27.0,0,0,13.0000,0,1,...,0,0,0,0,0,0,0,0,0,1
887,888,1,1,303,19.0,0,0,30.0000,1,0,...,0,0,0,0,0,0,0,0,0,0
888,889,0,3,413,28.0,1,2,23.4500,1,0,...,0,0,0,0,0,0,0,0,0,1
889,890,1,1,81,26.0,0,0,30.0000,0,1,...,0,0,0,0,0,0,0,0,0,0
890,891,0,3,220,32.0,0,0,7.7500,0,1,...,0,0,0,0,0,0,0,0,0,1

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,0.693147,4.110874,4.189655,9.042040,2.079442,1.791759,7.602900,7.602900,5.283204,6.561031,...,0,0,0,1,0,0,0,0,1,0
1,1.098612,3.044522,4.394449,9.169623,1.945910,2.197225,7.589336,7.589336,0.000000,6.886532,...,0,0,0,1,0,0,0,0,1,0
2,1.386294,4.110874,4.234107,9.328212,2.079442,1.791759,7.601902,7.602401,5.093750,6.188264,...,0,0,0,1,0,0,0,0,1,0
3,1.609438,4.262680,4.110874,9.164401,2.079442,1.791759,7.557995,7.586296,0.000000,5.379897,...,0,0,0,1,1,0,0,0,0,0
4,1.791759,4.110874,4.442651,9.565284,2.197225,1.791759,7.601402,7.601402,5.860786,6.486161,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,7.284135,4.110874,4.143135,8.976894,1.945910,1.791759,7.600902,7.601402,0.000000,0.000000,...,0,0,0,1,0,0,0,0,1,0
1456,7.284821,3.044522,4.454347,9.486152,1.945910,1.945910,7.590347,7.595387,4.787492,6.673298,...,0,0,0,1,0,0,0,0,1,0
1457,7.285507,4.262680,4.204693,9.109746,2.079442,2.302585,7.571474,7.604396,0.000000,5.620401,...,0,0,0,1,0,0,0,0,1,0
1458,7.286192,3.044522,4.234107,9.181735,1.791759,1.945910,7.576097,7.599401,0.000000,3.912023,...,0,0,0,1,0,0,0,0,1,0
1459,7.286876,3.044522,4.330733,9.204121,1.791759,1.945910,7.583756,7.583756,0.000000,6.722630,...,0,0,0,1,0,0,0,0,1,0

In [2]:
import sqlite3
import pandas as pd

# Connect to the database
conn = sqlite3.connect("pd_titanic_house.db")

# Read the preprocessed data files
df1 = pd.read_csv("preprocessed_dataclassification.csv")
df2 = pd.read_csv("preprocessed_dataregression.csv")

# Create and populate the pd_titanic table
df1.to_sql('pd_titanic', conn, if_exists='replace', index=False)

# Create and populate the pd_house table
df2.to_sql('pd_house', conn, if_exists='replace', index=False)

# Commit changes and close the connection
conn.commit()
conn.close()